<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Project_MedLine_Day1_12_Advanced_Mapping02_SubBean_OnlyProperties/src/bank/server/internal/Test.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="bank.server.internal.Test"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Project_MedLine_Day1_12_Advanced_Mapping02_SubBean_OnlyProperties"/>
</launchConfiguration>
