<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Project_Nice_Day2_19_AOP_DynamicProxyJDK_ToDo/src/test/TestBank.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="test.TestBank"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Project_Nice_Day2_19_AOP_DynamicProxyJDK_ToDo"/>
</launchConfiguration>
